body {
    font-family: Courier, Georgia, Garamond;
    font-size: 18px;
  }
  
  .output-words,
  .output-studly {
    color: rgba(6, 225, 32, 0.924);
  }
  
  input[type="text"] {
    width: 160px;
  }
  
  button {
    border: none;
    border-radius: 5px;
    padding: 1em;
  }
  